mat-table > .mat-row:hover { 
    background-color: #EEEEEE; 
    cursor: pointer;
}

mat-table > .mat-row > .right { 
    text-align: right
}

mat-table > .mat-row > .center, mat-table > .mat-header-row > .center { 
    text-align: center
}

mat-table > .mat-row > .left { 
    text-align: left
}

.fix-top-margin{
    margin-top: 10px;
}

.mat-card:hover{
    background: #c0c0c0;
}